.overview{
    height: 100px;
}

.imagediv{
    width: 70px;
    height: 700px;
    display: inline-block
}
.image{
    width: 50px;
    height: 50px;
    object-fit: fit;
    border-radius: 30px;
}

.userDetails{
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.userName{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    
}
.userDescrip{
    font-size: 13px;
    color: rgb(65, 61, 61);
    margin-bottom: 0px;
}
.userFriends{
    margin-top: 0px;
    
    font-size: 13px;
    color: rgb(65, 61, 61);
}

.buttondiv{
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.follow{
    color: white;
    background-color: rgba(8, 4, 235, 0.849);
    vertical-align: top;
    border-width: 0.2px;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
    display: inline;
    height: 30px;
    padding-left: 10px;
    width: 80px;
    transition: box-shadow 5ms ease; 
}
.follow:hover{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.xxx{
    vertical-align: top;
    display: inline-block;
}
.first{
    
}
.google-div{
    width: 100px;
    height: 120px;
    display: inline-block;
    margin-right: 10px;
    
}
.google{
    padding-top: 10px;
    height: 100px;
    width: 100px;
    object-fit: fill;
    
}
.details-div{
    display: inline-block
}
.details{
    font-size: 20px;
}
.creator{
    color: rgb(65, 61, 61);
    margin-top: 0px; 
    margin-bottom: 0px;
}
.length{
    
    font-style: italic;
    color: rgb(65, 61, 61);
    margin-top: 0px; 
}

